# 【必填】Telegram Bot API Token (通过 @BotFather 获取)
BOT_TOKEN=Telegram申请的

# 【必填】百度网盘开放平台应用的 AppKey 和 SecretKey
# 申请地址：https://pan.baidu.com/union/home
BAIDU_APP_KEY=网盘申请的key
BAIDU_SECRET_KEY=网盘申请的key

# 【可选】百度 OAuth 回调地址。设为 oob 则代表提供文本界面的授权码复制（推荐）
BAIDU_REDIRECT_URI=oob

# 【可选】允许使用此 Bot 的 Telegram 用户 ID 列表，用逗号分隔。
# 如果不填（或留空），则任何人都可以使用！！！
# 如何获取 ID？可以用 @userinfobot 或看日志
ALLOWED_USER_IDS=111111,22222

# 【可选】转存到百度网盘的目标目录，必须以 / 开头
BAIDU_SAVE_PATH=/ato_saves

# ----------------- 以下通常无需修改 -----------------
# 数据库文件路径 (Docker 中会映射到 /app/data)
DB_PATH=/app/data/pan_saver.db
# 临时文件下载目录
TMP_DIR=/tmp/pan_saver

# ========================================================
# 【高级选项】Local Bot API Server (突破 20MB 限制最大 2GB)
# ========================================================
# 1. 设为 true 启用 Local Bot API
USE_LOCAL_API=false

# 2. 从 https://my.telegram.org 申请的 API_ID 和 API_HASH (启用必填)
TG_API_ID=
TG_API_HASH=

# 3. 容器互访 API 地址（一般无需修改）
TG_API_BASE_URL=http://telegram-bot-api:8081/bot
